{% extends "layout.html" %}

{% block title %}
    Add Stairs
{% endblock %}

{% block main %}

    <form action="/addstairs" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="location" placeholder="Location" type="text">
        </div>
        <!--div class="form-group">
            <input autocomplete="off" class="form-control" name="photo" placeholder="Photo" type="file" accept="image/*">
        </div-->
        <button class="btn btn-primary" type="submit">Add</button>
        <p>{{ alert }}</p>
    </form>

{% endblock %}